$fonts-text:'Shadows Into Light', cursive;
$font-heading:"Times New Roman", serif;
$cherry:#8a1d40;
$clouds:#e8e7e7;
$text-font-size:18px !default;
$text-font-size: 24px;
$nav-border-side:right;
$margin:160px;
