$fonts-text:'Mukta', sans-serif;
$font-heading:"Times New Roman", serif;
$cherry:#8a1d40;
$clouds:#e8e7e7;
$text-font-size:18px !default;
$text-font-size: 18px;
$nav-border-side:right;
$margin:80%;
$ahover:#FFD700;
$slidewidth:80%;
$coontactformmargin:50%;
