@import 'variable';
body{
  font-family: $fonts-text;
  background-color: $clouds;
  font-size: $text-font-size;
}
h1,h2,h3,h4,h5,h6{
  font-family: $fonts-text;
  color:$cherry;
}
h1{
    text-align: center;
    font-weight: bold;
}
h2{
  text-align: center;
}
.ContactForm
{
margin: $margin;
}

.mynavbar{
background:$cherry;

a{
  color: $clouds;
}
a:hover{
  color: $ahover;
}
button{
  background-color: $cherry;
  color: $ahover;
  border-color: $clouds;
  &:hover{
    background-color: $clouds;
    color:$cherry;
    border-color: $clouds;
  }
}
}
.videos{
margin: 20px;
margin-left: 100px;
}

// blog
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.dp{
  width:100%;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}
.banner{
  height:500px;
}
.banner2{
  height:200px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
