@import 'variable';
body{
  font-family: $fonts-text;
  background-color: $clouds;
  font-size: $text-font-size;
}
h1,h2,h3,h4,h5,h6{
  font-family: $fonts-text;
  color:$cherry;
}
form
{
margin: $margin;
}

.mynavbar{
background:$cherry;
button{
  background-color: $cherry;
  color: $ahover;
  border-color: $clouds;
  &:hover{
    background-color: $clouds;
    color:$cherry;
    border-color: $clouds;
  }
}
}

a{
  color: $clouds;

}
a:hover{
  color: $ahover;
}
